.contents {
    .page {
        clear:both;
        width:1400px;
        margin:0 auto;
        border-top:1px solid #ececec;
    }
    h2 {
        text-align: center;
        padding-top: 32px;
        padding-bottom: 14px;
    }
}
.list {
    clear:both;
    list-style: none;
    padding-bottom:25px;
    &:after {
        content:"";
        display:block;
        width:100%;
        clear: both;
    }
    li {
        float:left;
        margin-right:1rem;
        margin-left:1.5rem;
        margin-top:0.5rem;
        margin-bottom: 1.5rem;
        &:nth-child(4n){
            margin-right: 0;
        }
        &:nth-child(4n+1){
            clear: both;
        }
    }
} 
.carousel-caption {
    padding-bottom: 10rem!important;
}
.form-area {
    width:900px;
    margin:0 auto;
}