.footer {
    clear:both;
    width:100vw;
    margin:0;
    padding: 0;
    .copyright {
        padding:24px;
        text-align: center;
    }
    .p-2 {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}